<div>
    
</div>
<div class="body">
    <div class="blackjack">
        <div class="game">
            <h2>Blackjack Game!</h2>

            <div class="dealer">
                @for (card of dealerHand(); track $index) {

                <div class="card">
                    <p>{{ card }}</p>
                </div>

                }
            </div>

            <div class="player">
                @for (card of playerHand(); track $index) {
                <div class="card">
                    <p>{{ card }}</p>
                </div>
                }
            </div>

            <div class="gameInfo">
                <div class="playerPoints">
                    <p>Your hand: {{playerTotal}}</p>
                </div>
                @if (message) {
                <div class="playerPoints">
                    <p>{{message}}</p>
                </div>
                }
                <div class="dealerPoints">
                    <p>Dealer hand: {{dealerTotal}}</p>
                </div>
            </div>

            <div>
                <button (click)="hit()">Hit</button>
                <button (click)="stand()">Stand</button>

            </div>
        </div>
    </div>

    <div style="margin-left: 20px;">

    </div>

    <div>
        <div class="layout">
            <h3>Rules:</h3>
            <div class="scoreList">
                <p>This is for the simple version of Blackjack, you in front of the concessionaire, who approaches more to 21 wins the game if you get a larger number than 21 loses, if you automatically earn a 21 you earn. To ask for more cards, click "Hit" to finish the game clicks "Stand".                    
                </p>
            </div>
        </div>
    </div>
</div>